<div class="row widget-test">
    <div class="widget-test-title-box">
        <div class="widget-test-title">
            ТЕСТИРОВАНИЕ НА ОПРЕДЕЛЕНИЕ ВОСПАЛИТЕЛЬНОГО ХАРАКТЕРА БОЛИ
        </div>
        <div class="row widget-test-content">
            <div class="col-xs-2 number">1</div>
            <div class="col-xs-8 question">
                Укажите как долго вы ошушаете боли в спине:
                <br />
                <ul>
                    <li><input type="radio" name="test-question" value="0" class="iradiobox iradio_minimal"> Меньше 3-х месяцев</li>
                    <li><input type="radio" name="test-question" value="1" class="iradiobox iradio_minimal" checked="checked"> Больше 3-х месяцев</li>
                </ul>

            </div>
            <div class="col-xs-2 fullnumber">
                <span>1</span> / 7
                <div>вопросов</div>
            </div>
        </div>
        <div class="widget-test-btn">
            <div>
                <button class="btn btn-primary test-next">ДАЛЕЕ</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var step = 1;
        $('.test-next').click(function () {
            var value = $('input[type=radio]:checked').val();
            $.ajax({
                url: Routing.generate('test',{'test': 'test-1','step' : step }),
                data: value,
                success: function(msg){
                    $('.widget-test-content').html(msg);
                }
            })
        });
    });
</script>