{% extends 'AppBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets "@AppBundle/Resources/public/less/comments.less" %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="all" />
    {% endstylesheets %}
{% endblock %}

{% block content %}
    <div>
        {#<h1 class="blue-text">Тестирование</h1>#}
        <div style="color: #001A64">
            <h3>Остеохондроз - причины боли: поясничный отдел позвоночника</h3>
            <p>
                Боли в спине испытывают миллионы людей по всему миру. Это настоящая эпидемия для всего человечества - ведь у большинства жителей нашей планеты боль в спине, боли в суставах, боли в пояснице и ногах зачастую идут рука об руку друг с другом.
                Почему-то повсеместно принято считать, что если у Вас болит спина, ноги, поясница (крестец он же копчик) и даже мышцы, то эта боль вызвана остеохондрозом, собственно, того отдела позвоночника, где она появилась.
            </p>
            <h3>Остеохондроз - лечение позвоночника и причины боли</h3>
            <p>
                Между тем, в России и остальном мире под словом «остеохондроз» понимают абсолютно разные группы заболеваний. Казалось бы, если у Вас возникла боль в спине, пояснице, ноющая боль в ногах, то логично предположить, что все эти части тела не могут быть охвачены одним и тем же заболеванием, так как, по большому счету, они не связаны между собой напрямую.
                Согласитесь, если Вы ударились спиной, нога болеть не должна? Но, к сожалению, ответ на данный вопрос не очевиден.
                Существует ряд заболеваний, которые повсеместно называют «Остеохондроз позвоночника», но как бы пациент не старался, справиться с ним не могут. Пациенты посещают таких врачей, как травматолог, хирург, невропатолог; им назначаются дорогие препараты, но боли никуда не уходят.
            </p>
            <h3>Воспалительная боль</h3>
            <p>
                Причиной боли в спине, которую никак не могут вылечить, в том числе у молодых людей, скорее всего, является воспалительный процесс, проходящий в организме.
                В этом месте хотелось бы сказать, что воспалительные боли в спине, пояснице, суставах необходимо наблюдать у врача, который называется Ревматолог.
                Но как же простому человеку определить воспалительная боль у него или нет?
                <br />
                Все просто. Для этого достаточно ответить на несколько вопросов, которые подготовлены научными сотрудниками.
                <br />
                Если Вас длительно мучают боли в пояснице и позвоночнике, и Вы хотели бы понять причины боли, пройдите тест на определение воспалительного характера боли. Если результаты теста окажутся положительными, то Вам следует обратиться к ревматологу для оценки Вашего состояния и назначения адекватного лечения.
            </p>
        </div>
        <br />
        <br />
        <div>
            {% include "@App/Widget/test.html.twig" %}
        </div>
    </div>
    <br />
    <br />

    <br />
    <br />
{% endblock %}