{% extends 'AppBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets "@AppBundle/Resources/public/less/comments.less" %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="all" />
    {% endstylesheets %}
{% endblock %}

{% block content %}
    <div>
        <h1 class="blue-text">Тестирование</h1>
        <p>
            Федеральная полиция Бразилии задержала вице-президента Facebook и Instagram в Латинской Америке за неоднократный отказ выполнить судебные ордеры в рамках дела по обороту наркотиков, а именно — выдать переписку наркодилеров через сервис WhatsApp, пишет Globo.

            Диего Дзодан (Diego Dzodan) сейчас находится под стражей в Сан-Паулу и отвечает на вопросы следователей, говорится в заявлении полиции.

            «Мы разочарованы столь крайними и несоразмерными мерами, когда одного из руководителей Facebook конвоируют в полицейский участок в связи с делом, затрагивающим сервис WhatsApp, который функционирует отдельно от Facebook, — сказано в комментарии американской компании. — Facebook всегда был и будет готов ответить на любые вопросы, которые есть у бразильских властей».
            Читать дальше →

        </p>
        <br />
        <br />
        <div>
            {% include "@App/Widget/test.html.twig" %}
        </div>
    </div>
    <br />
    <br />

    <br />
    <br />
{% endblock %}